/* Reset and Base Styles */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: #1a1a1a;
  background-color: #fff;
  /* background-color: #eff1f5; */
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  flex: 1;
  width: 100%;
}

.full-width-wrapper {
  width: 100%;
  margin: 42px 0 0 0;
  padding: 0;
  position: relative;
}
